{{#if successfuly}}
<div class="alert alert-success text-center">
  {{successfuly}}
</div>
  
{{/if}}
{{#each products}}
<div class="row">

  {{#each this }}

  <div class="col-sm-4">
    <div class="card">
      <img src="{{this.imagePath}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{this.productName}}</h5>
        <p class="card-text">
          StorageCapacity: {{this.information.storageCapacity}} GB<br>
          Number of SIM: {{this.information.numberOfSIM}}<br>
          Display Size: {{this.information.displaySize}} Inch<br>



        </p>
        <div class="price float-left">$ {{this.price}}</div>
        {{#if ../../checkUser}}
        <a href="/addToCart/{{this._id}}/{{this.price}}/{{this.productName}}"
          class="btn btn-success  float-right">Add To Cart</a>

        {{else}}
        <button type="button" class="btn btn-success  float-right" data-toggle="modal" data-target="#exampleModalCenter">
          Buy
        </button>
        <!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Warninig</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        You must to be log in if you want to buy something
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a href="/users/login" class="btn btn-primary">Log in</a>
      </div>
    </div>
  </div>
</div>
        {{/if}}
      </div>
    </div>
  </div>

  {{/each}}
</div>

{{/each}}